<h1>Noticias works!</h1>
<div class="container">
  <div class="config">
    <a routerLink="../titulares"> Ir a los titulares!</a>
    <p>
      <textarea name="tema" id="idTextarea" cols="50" rows="1"></textarea>
    </p>

    <p>
      <select name="Sources" id="idSources"></select>
    </p>

    <p>
      <input type="submit" (click)="sendData()">
    </p>
  </div>

  <div class="noticias-container">
    <div class="grid">
      <div *ngFor="let item of noticiasArr" class="xs-100 md-50 lg-33">
          <img *ngIf="item.urlToImage" src="{{item.urlToImage}}" alt="news image"
              onError="this.src='https://www.publicdomainpictures.net/pictures/280000/nahled/not-found-image-15383864787lu.jpg'">
          <img *ngIf="!item.urlToImage"
              src="https://www.publicdomainpictures.net/pictures/280000/nahled/not-found-image-15383864787lu.jpg"
              alt="news image">
          <p>
              <a href="{{item.url}}">{{item.url}}</a>
          </p>
      </div>
  </div>
  </div>


</div>
